<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jinja2 Template Test1</title>
  </head>
  <body>
    <h1>id: {{ id }}</h1>
    <h1>q: {{ q }}</h1>
    <p>item: {{ item }}</p>
    <p>item name: {{ item.name }}</p>
    <p>item price: {{ item.price }}</p>
    <p>item_dict["name"]: {{ item_dict["name"] }}</p>
    <p>item_dict["price"]: {{ item_dict["price"] }}</p>
    <p></p>
  </body>
</html>
